li {
  list-style-type: none;
}

.active {
  color: red;
}

.menu {
  background-color: #eb4d63;
  padding: 30px 0;
}

.btn {
  padding: 10px;
  background-color: #424242;
  text-decoration: none;
  color: white;
}
