<div class="container" >
  <div class="posts">
    <div *ngFor="let post of posts">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{post.author}}</mat-card-title>
            <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [innerHTML]="post.text"></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="remove(post.id)">Удалить</button>
            <button mat-stroked-button color="primary" [routerLink]="['/post', post.id ]">Открыть</button>
            <button mat-stroked-button color="primary" [routerLink]="['/post', post.id, 'edit' ]">Редактировать</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


