.create {
  width: 900px;
  min-height: 560px;
  padding: 50px;
  background-color: white;
  border-radius: 50px;
}

.mat-raised-button.mat-primary.mat-button-disabled {
  background-color: #a27b7b;
  color: white;
}
