/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";

body {
  margin: 0px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}
.container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.input {
  display: block;
  width: 80%;
  height: 30px;
}

.editor {
  margin-bottom: 20px;
}

.validity {
  color: red;
}

.form {
  margin-bottom: 20px;
}
